* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  %borderBox {
    height: 34px;
    width: 42px;
    border: 1px solid #c9cdd2;
    cursor: pointer;
    transform: none;
    transition: all 0s ease 0s;
    background-color: #ffffff;
    color: #72787f;
    line-height: 18.2px;
    text-decoration: none solid rgb(114, 120, 127);
    text-align: center;
    vertical-align: middle;
    word-spacing: 0px;
  }
  
  .wrapper {
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
  
    .modalWrapper {
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.5);
  
      .innerWrapper {
        display: flex;
        width: 960px;
        height:680px;
  
        background: #ffffff;
        color: #454c53;
        padding: 0;
        margin-top: 0;
        border: 0px solid #e8ebed;
        border-radius: 6px;
  
        .leftWrapper {
          width: 600px;
          height:100%;
          height: 100%;
          border-right: 1px solid #e8ebed;
  
          .imgWrapper {
            width: 100%;
            height:70%;
            .image {
              width: 100%;
              height: 100%;
              border: 1px solid #e8ebed;
              border-top-left-radius: 6px;
            }
  
            .smallImages {
              display: flex;
              justify-content: center;
              width: 600px;
              height: 78px;
              padding: 15px 0 15px 0;
  
              .displayNone {
                display: none;
              }
  
              .smallImagesWrapper {
                width: 48px;
                height: 48px;
                margin-left: 6px;
                overflow: hidden;
              }
  
              .smallImage {
                width: 44px;
                height: 44px;
                border: 0px solid #e8ebed;
                border-radius: 6px;
              }
            }
          }
          
            
          .information {
            width: 100%;
            height:30%;
            border: 1px solid #e8ebed;
            border-radius: 6px;
            font-size: 16px;
            line-height: 20.8px;
            text-align: left;
  
            .commentData {
              display: flex;
              height:30%;
              width:100%;
              padding:10px;

              .commentUserImgWrapper {
                width: 10%;
                // height: 40px;
                margin-right: 8px;
                
          
  
                .commentUserImg {
                  border: 0px solid #ffffff;
                  border-radius: 50%;
                  cursor: pointer;
                }
              }
              .authorInformation {
                width:600px;
                // height: 33px;
                // display: inline;
                font-size: 14px;
                // font-weight: 700;
                line-height: 18.2px;
                // text-align: left;
                white-space: nowrap;
                word-spacing: 0px;
                overflow: hidden;
                margin-right: 10px;
                padding-top: 5px;
                
                
              }
  
              .author {
                margin: 0 4px 0 0;
                // max-width: 170px;
                padding-top: 5px;
                font-size: 14px;
                font-weight: 700;
                line-height: 18.2px;
                text-decoration: none solid rgb(69, 76, 83);
                text-align: left;
                white-space: nowrap;
                word-spacing: 0px;
                cursor: pointer;
              }
  
              .introduction {
                font-size: 12px;
                // max-width: 190px;
                color: #9ea4aa;
                overflow: hidden;
                font-size: 12px;
                line-height: 15.6px;
                text-decoration: none solid rgb(158, 164, 170);
                text-align: left;
                white-space: nowrap;
                word-spacing: 0px;
              }
  
              .followBtnBox {
                // height: 34px;
                // width: 40px;
                border: 1px solid silver;
                border-radius: 6px;
                margin: 3px 0 0 10px;
                width:36px;
                margin-left:auto;
                text-align:center;
                
                

                .followBtn {
                  height: 70%;
                  width: 70%;
                  color: #ff5f00;
                  cursor: pointer;
                  margin-top:5px;
                  margin-left:2px;
                          
                }
  
                .followBtnActive {
                  height: 70%;
                  width: 70%;
                  color: #ffffff;
                  background-color: #ff5f00;
                  cursor: pointer;
                  margin-top:5px;
                  margin-left:2px;
                }
              }
            }

            .hrTag{
              border:1px solid rgb(227, 227, 227);
            }
  
            .authorDescription {
              font-size: 14px;
              display: inline-flex;
              // line-height: 16.9px;
              text-decoration: none solid rgb(38, 40, 43);
              text-align: left;
              white-space: pre-wrap;
              word-spacing: 0px;
              margin-top: 20px;
              margin-left:20px;
              height:70%;

              span{
                font-size:13px;
              }
            }
          }

        }
        .rightWrapper {
          width: 315px;
          justify-content: center;
          padding: 20px 15px 15px 20px;

          .authorPopularity {
            width: 315px;
            display: flex;
            padding-top: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #c9cdd2;
  
            .likeBox {
              @extend %borderBox;
              border-top-left-radius: 6px;
              border-bottom-left-radius: 6px;
              color: white;
              background-color: #ff5f00;
             
            }
            .dislikeBox {
              @extend %borderBox;
              border-top-left-radius: 6px;
              border-bottom-left-radius: 6px;
            }
  
            .like {
              width: 83%;
              height: 83%;
              padding-top: 6px;
            }
  
            .likeNumBox {
              @extend %borderBox;
              border-top-right-radius: 6px;
              border-bottom-right-radius: 6px;
              font-size: 13px;
              font-weight: 600;
              padding-top: 5px;
              color:silver;
              text-align:center;
              // background-color: lightcoral;
            }
  
            // .dislikeNumBox {
            //   @extend %borderBox;
            //   border-top-right-radius: 6px;
            //   border-bottom-right-radius: 6px;
            //   font-size: 18px;
            //   font-weight: 700;
            //   padding-top: 5px;
            // }
  
            .scrapBox {
              @extend %borderBox;
              border-radius: 6px;
              margin-left: 8px;
  
              .scrapImage {
                width: 93%;
                height: 93%;
                padding-top:3px; 
            
              }
            }
  
            .optionBox {
              @extend %borderBox;
              border: 0px solid white;
              font-size: 20px;
              margin-left: 155px;
  
              .option {
                width: 83%;
                height: 83%;
                padding-top: 6px;
              }
            }
          }
  
          .commentWrapper {
            width: 315px;
            overflow: hidden;
            max-height: 533px;
            margin-bottom: 5px;
  
            .commentBox {
              display: flex;
              overflow: hidden;
            }
            .imgWrapper {
              display: flex;
              width: 30px;
              height: 30px;
  
              .commentUserImg {
                width: 80%;
                height: 80%;
                border: 0px solid #ffffff;
                border-radius: 50%;
                cursor: pointer;
                transform: none;
                transition: all 0s ease 0s;
              }
              .commentBtn {
                margin-bottom: 10px;
              }
            }
  
            .commentInfoWrapper {
              margin-left: 10 px;
              font-size: 16px;
              line-height: 20.8px;
              text-decoration: none solid rgb(38, 40, 43);
              text-align: left;
              word-spacing: 0px;
              background-color: #ffffff;
              background-position: 0% 0%;
              color: #26282b;
              height: auto;
              width: 275px;
              overflow: hidden;
              transform: none;
              transition: all 0s ease 0s;
  
              .commentContentWrapper {
                font-size: 12px;
                line-height: 15px;
                white-space: pre-wrap;
                color: #26282b;
  
                .commentUser {
                  font-weight: 700;
                }
  
                .commentContent {
                  padding-left: 5px;
                }
              }
  
              .commentBtnWrapper {
                font-size: 12px;
                line-height: 15.6px;
                text-decoration: none solid rgb(158, 164, 170);
                text-align: left;
                word-spacing: 0px;
                background-color: #ffffff;
                background-position: 0% 0%;
                color: #9ea4aa;
                height: auto;
                width: auto;
                margin-bottom: 7px;
  
                .commentBtn {
                  cursor: pointer;
                  padding-left: 8px;
                }
              }
            }
  
            .commentCreateBox {
              display: flex;
              overflow: hidden;
            }
  
            .commentCreateImgWrapper {
              display: flex;
              width: 30px;
              height: 30px;
  
              .commentCreateUserImg {
                width: 100%;
                height: 100%;
                border: 0px solid #ffffff;
                border-radius: 50%;
                cursor: pointer;
                transform: none;
                transition: all 0s ease 0s;
              }
            }
  
            .commentCreateInfoWrapper {
              font-size: 16px;
              line-height: 20.8px;
              text-decoration: none solid rgb(38, 40, 43);
              text-align: left;
              word-spacing: 0px;
              background-color: #ffffff;
              background-position: 0% 0%;
              color: #26282b;
              height: 36px;
              width: 275px;
              overflow: hidden;
              transform: none;
              transition: all 0s ease 0s;
  
              .commentCreateContentWrapper {
                font-size: 12px;
                line-height: 15px;
                white-space: pre-wrap;
                color: #26282b;
  
                .commentCreateUser {
                  font-weight: 700;
                }
  
                .commentCreateContent {
                  padding-left: 5px;
                }
              }
  
              .commentCreateBtnWrapper {
                font-size: 12px;
                line-height: 15.6px;
                text-decoration: none solid rgb(158, 164, 170);
                text-align: left;
                word-spacing: 0px;
                background-color: #ffffff;
                background-position: 0% 0%;
                color: #9ea4aa;
                height: auto;
                width: auto;
  
                .commentCreateBtn {
                  cursor: pointer;
                  padding-left: 8px;
                }
              }
            }
          }
  
          .commentNum {
            width: 315px;
            margin: 10px 0 10px 0;
            font-size: 15px;
            font-weight: 700;
            line-height: 18.2px;
            text-decoration: none solid rgb(114, 120, 127);
            text-align: left;
            word-spacing: 0px;
          }
  
          .inputWrapper {
            width: 315px;
            border-top: 1px solid #c9cdd2;
            font-size: 22px;
            line-height: 16px;
            text-decoration: none solid rgb(38, 40, 43);
            text-align: left;
            word-spacing: 0px;
            color: #26282b;
            cursor: default;
            margin-top: 10px;
  
            .inputReple {
              width: 315px;
              height: 43px;
              border: 1px solid #c9cdd2;
              border-radius: 6px;
              padding: 10px 10px 10px 10px;
              margin-top: 10px;
            }
          }


            .reple{

              border:1px solid #c9cdd2;
              border-radius:6px;
              margin-top:10px;
              padding:10px;

            .repleBox1 {
              display:flex;

              .repleProfile{
                img{
                  border-radius:50%;
                  border:1px solid silver;
                  width:30px;
                  height:30px;
                  margin-right:10px;
                }
              }
                .repleNickname {
                  font-size:11px;
                  font-weight:bold;
                  margin-bottom:7px;
                }
                .repleLike{
                  margin-left:auto;
                }
            }
            .repleWrite {
              font-size:10px;
            }
          }
        }
      }
    }
  }
  